In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
iris = pd.read_csv('C:\\Users\\User\\Downloads\\Data\\iris.csv')
iris.head()

   150    4  setosa  versicolor  virginica
0  5.1  3.5     1.4         0.2          0
1  4.9  3.0     1.4         0.2          0
2  4.7  3.2     1.3         0.2          0
3  4.6  3.1     1.5         0.2          0
4  5.0  3.6     1.4         0.2          0

In [4]:
iris.tail()

     150    4  setosa  versicolor  virginica
145  6.7  3.0     5.2         2.3          2
146  6.3  2.5     5.0         1.9          2
147  6.5  3.0     5.2         2.0          2
148  6.2  3.4     5.4         2.3          2
149  5.9  3.0     5.1         1.8          2

<h1>Dropping/Deleting/Removing columns from  a Pandas DataFrame</h1>
<h2><ul><li>Removing/Deleting column by column index/range</li></ul></h2>

In [5]:
iris.drop('setosa', axis=1, inplace=True)
#inplace=True means the data will be updated by this change
#some other technic to drop multiple column in one time
#iris.drop(iris.columns[[2, 3]], axis='columns', inplace=True)
#or iris.drop(iris.columns[3:], axis='columns', inplace=True)
iris.head(3)

   150    4  versicolor  virginica
0  5.1  3.5         0.2          0
1  4.9  3.0         0.2          0
2  4.7  3.2         0.2          0

<h2><ul><li>Removing columns as index base</li></ul></h2>

In [157]:
iris.drop(['virginica'], axis=1, inplace=True)
iris.head(3)

   150    4
0  5.1  3.5
1  4.9  3.0
2  4.7  3.2

<h1>Dropping/Deleting/Removing Rows by index from  a Pandas DataFrame</h1>

In [158]:
iris.drop(iris.index[50:], axis=0, inplace=True)
iris.tail()

    150    4
45  4.8  3.0
46  5.1  3.8
47  4.6  3.2
48  5.3  3.7
49  5.0  3.3